/* mobile desgn */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: top / contain no-repeat url(images/bg-mobile.svg), hsl(257, 40%, 49%);
    position: relative;
}

.container{
    padding: 30px;
    padding-bottom: 0;
    width: 100%;
    z-index: 3;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

.header{
    z-index: 2;
    padding: 30px;
    margin-bottom: 50px;
}

.logo{
    width: 150px;
    margin-left: 0;
}

.hero-banner{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    z-index: 2;
}

.hero-img{
    width: 100%;
}

.main{
    text-align: center;
    margin-bottom: 25px;
    width: 100%;
}

.title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 20px;
}

.description{
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 20px;
}

.register{
    color: hsl(257, 40%, 49%);
    text-align: center;
    width: 200px;
    padding: 10px;
    border: solid 1px transparent;
    border-radius: 20px;
    margin-bottom: 40px;
}

.register:hover{
    color: #fff;
    background: hsl(300, 69%, 71%);
}

.social{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: #fff;
}

a:not(:last-child){
    margin-right: 10px;
}

.social-icon{
    border: solid 1.5px #fff;
    border-radius: 50%;
    padding: 5px 7px;
    cursor: pointer;
}

.social-icon:hover{
    border-color: #e882e8;
}


.facebook{
    padding: 5px 8px;
}

.twitter{
    padding: 5px 6px;
}

.attribution{
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    font-size: 12px;
}

.attribution a{
    color: #fff;
}

.attribution a:hover{
    color: #e882e8;
}

/* responsive design */

@media screen and (min-width:800px) {
    body{
        background: left / cover no-repeat url(images/bg-desktop.svg), hsl(257, 40%, 49%);
    }
    .header{
        padding: 30px 50px 0 50px;
        height: fit-content;
    }
    .logo{
        width: 180px;
    }

    .container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-banner{
        margin-right: 20px;
        margin-bottom: 0;
    }

    .main{
        width: 80%;
        text-align: left;
        position: relative;
        top: 50px;
        margin-bottom: 50px;
    }

    .register{
        margin-bottom: 70px;
    }

    .social{
        position: absolute;
        bottom: 0;
        right: 0;
    }

}

@media screen and (min-width:1000px) {
    .main{
        width: 60%;
    }

    .title{
        font-size: 30px;
    }

    .description{
        line-height: 1.6;
    }
}

@media screen and (min-width:1200px) {
    .container{
        padding-left: 40px;
        padding-right: 40px;
    }

    .main{
        width: 50%;
        margin-left: 30px;
    }

}

@media screen and (min-width:1300px) {
    

    .main{
        width: 40%;
        margin-left: 40px;
    }

}